.adopt {
  background-color: #094067;
  position: relative;
  overflow: hidden;
  margin: 75px 0;
}

.adopt-title {
  color: #ffffff;
  font-size: 58px;
  font-weight: 600;
  margin-bottom: 53px;
}

.adopt-content {
  padding: 130px 371px 155px 371px;
}

.adopt-pic {
  position: absolute;
  left: -40px;
  top: -40px;
}

.adopt-pic2 {
  position: absolute;
  bottom: -40px;
  right: -40px;
}

.input-email {
  width: 436px;
  font-size: 16px;
  font-weight: 400;
  /* color: #cdcdcd; */
  border: none;
  border-radius: 5px 0 0 5px;
  padding-left: 58px;
  outline: none;
}

.input-submit {
  height: 100%;
  flex-grow: 1;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  background-color: #3da9fc;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
}

form {
  width: 668px;
  height: 82px;
  display: flex;
}
