.footer {
  padding: 75px 0;
}

.footer-logo {
  margin-bottom: 25px;
  width: 82px;
  height: 58px;
}

.footer span {
  display: block;
  color: #656790;
  font-weight: 400;
}

.footer-nav-item {
  margin-bottom: 15px;
}

.footer-nav-title {
  color: #0c1070;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer-logo-container {
  margin-right: 239px;
}

.footer .footer-nav + .footer-nav {
    margin-left: 135px;
}
