
.petLover {
    padding: 75px 0;
  }

.pet-left-container {
  width: 50%;
  box-sizing: border-box;
  margin-right: 134px;
  padding: 178px 0;
}

.pet-button {
  color: #094067;
  font-size: 20px;
  font-weight: 700;
  width: 177px;
  height: 60px;
  border: 3px solid #3da9fc;
  background-color: white;
}

.pet-title {
    margin-bottom: 30px;
}

.pet-description {
    margin-bottom: 50px;
}

.pet-pic {
    width: 654px;
    height: 730px;
}