.app {
  width: 1410px;
  margin: auto;
  padding: 0 255px;
}

a {
  color: inherit;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
